<% if action_name === "index" %>
    <a href='/cooperados/new' class="w-[50px] mr-8">
      <svg fill="#4169e1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="40px" height="40px"><path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"/></svg>
    </a>
<% elsif action_name === "show" %>
   
    <div class="flex items-center">

    <%= button_to '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="32px" height="32px" viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve" fill="#00b500">
    <path id="XMLID_1259_" d="M86.1,9.2L79,1.9C78.4,1.3,77.6,1,76.8,1h0c-0.8,0-1.6,0.3-2.1,0.9L32.8,44.4c-0.3,0.3-0.5,0.6-0.7,1
        l-4.7,11.9c-0.4,1.1-0.2,2.4,0.7,3.2c0.6,0.6,1.3,0.9,2.1,0.9c0.4,0,0.7-0.1,1.1-0.2l11.8-4.7c0.4-0.2,0.7-0.4,1-0.7l41.9-42.5
        C87.3,12.2,87.3,10.3,86.1,9.2z M40.4,51.2l-4.8,1.9l1.9-4.9L76.8,8.3l3,3L40.4,51.2z M71,47.6V88c0,2.2-2,4-4.2,4H10
        c-2.2,0-4-1.8-4-4V11.8C6,9.6,7.8,8,10,8h41.6c2.2,0,4,1.8,4,4s-1.8,4-4,4H14v68h49V47.6c0-2.2,1.8-4,4-4S71,45.4,71,47.6z"/>
    </svg>'.html_safe, edit_cooperado_path(@cooperado), method: :get, class: "w-[50px]" %>

    <%= button_to '<svg fill="#a60000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="40px" height="40px"><path d="M 28 7 C 25.243 7 23 9.243 23 12 L 23 15 L 13 15 C 11.896 15 11 15.896 11 17 C 11 18.104 11.896 19 13 19 L 15.109375 19 L 16.792969 49.332031 C 16.970969 52.510031 19.600203 55 22.783203 55 L 41.216797 55 C 44.398797 55 47.029031 52.510031 47.207031 49.332031 L 48.890625 19 L 51 19 C 52.104 19 53 18.104 53 17 C 53 15.896 52.104 15 51 15 L 41 15 L 41 12 C 41 9.243 38.757 7 36 7 L 28 7 z M 28 11 L 36 11 C 36.552 11 37 11.449 37 12 L 37 15 L 27 15 L 27 12 C 27 11.449 27.448 11 28 11 z M 19.113281 19 L 44.886719 19 L 43.212891 49.109375 C 43.153891 50.169375 42.277797 51 41.216797 51 L 22.783203 51 C 21.723203 51 20.846109 50.170328 20.787109 49.111328 L 19.113281 19 z M 32 23.25 C 31.033 23.25 30.25 24.034 30.25 25 L 30.25 45 C 30.25 45.966 31.033 46.75 32 46.75 C 32.967 46.75 33.75 45.966 33.75 45 L 33.75 25 C 33.75 24.034 32.967 23.25 32 23.25 z M 24.642578 23.251953 C 23.677578 23.285953 22.922078 24.094547 22.955078 25.060547 L 23.652344 45.146484 C 23.685344 46.091484 24.462391 46.835938 25.400391 46.835938 C 25.421391 46.835938 25.441891 46.835938 25.462891 46.835938 C 26.427891 46.801938 27.183391 45.991391 27.150391 45.025391 L 26.453125 24.939453 C 26.419125 23.974453 25.606578 23.228953 24.642578 23.251953 z M 39.355469 23.251953 C 38.388469 23.224953 37.580875 23.974453 37.546875 24.939453 L 36.849609 45.025391 C 36.815609 45.991391 37.571109 46.801938 38.537109 46.835938 C 38.558109 46.836938 38.578609 46.835938 38.599609 46.835938 C 39.537609 46.835938 40.314656 46.091484 40.347656 45.146484 L 41.044922 25.060547 C 41.078922 24.094547 40.321469 23.285953 39.355469 23.251953 z"/></svg>'.html_safe, cooperado_path(@cooperado), method: :delete, class: "w-[50px]" %>

    <%= button_to '<svg
        width="28pt"
        height="28pt"
        version="1.1"
        viewBox="0 0 28 28"
        id="svg469"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
          id="defs385" />
        <g
          id="g467">
          <path
            d="m 17.776932,7.9223074 h -7.578943 v -4.32009 l -7.9831578,6.315789 7.9831578,6.3157896 v -4.31991 h 7.578943 c 2.45053,0 4.42106,1.995699 4.42106,4.421053 0,2.425353 -1.9957,4.421052 -4.42106,4.421052 H 6.1558842 V 24.74757 H 17.776932 c 4.64843,0 8.4379,-3.789473 8.4379,-8.437895 0,-4.623157 -3.78947,-8.3873676 -8.4379,-8.3873676 z"
            id="path387"
            style="stroke-width:0.0451128" />
        </g>
      </svg>'.html_safe, cooperados_path, method: :get, class: 'w-[50px]' %>

    </div>

<% elsif action_name === "edit" %>
    
    <%= link_to '<svg
        width="28pt"
        height="28pt"
        version="1.1"
        viewBox="0 0 28 28"
        id="svg469"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
          id="defs385" />
        <g
          id="g467">
          <path
            d="m 17.776932,7.9223074 h -7.578943 v -4.32009 l -7.9831578,6.315789 7.9831578,6.3157896 v -4.31991 h 7.578943 c 2.45053,0 4.42106,1.995699 4.42106,4.421053 0,2.425353 -1.9957,4.421052 -4.42106,4.421052 H 6.1558842 V 24.74757 H 17.776932 c 4.64843,0 8.4379,-3.789473 8.4379,-8.437895 0,-4.623157 -3.78947,-8.3873676 -8.4379,-8.3873676 z"
            id="path387"
            style="stroke-width:0.0451128" />
        </g>
      </svg>'.html_safe, cooperado_path(@cooperado), class: 'w-[50px]' %>

<% elsif action_name === "new" %>

    <%= link_to '<svg
        width="28pt"
        height="28pt"
        version="1.1"
        viewBox="0 0 28 28"
        id="svg469"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
          id="defs385" />
        <g
          id="g467">
          <path
            d="m 17.776932,7.9223074 h -7.578943 v -4.32009 l -7.9831578,6.315789 7.9831578,6.3157896 v -4.31991 h 7.578943 c 2.45053,0 4.42106,1.995699 4.42106,4.421053 0,2.425353 -1.9957,4.421052 -4.42106,4.421052 H 6.1558842 V 24.74757 H 17.776932 c 4.64843,0 8.4379,-3.789473 8.4379,-8.437895 0,-4.623157 -3.78947,-8.3873676 -8.4379,-8.3873676 z"
            id="path387"
            style="stroke-width:0.0451128" />
        </g>
      </svg>'.html_safe, cooperados_path, class: 'w-[50px]' %>      

<% end %>