<div id="<%= dom_id localidade %>" data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap" class="bg-white shadow px-5 py-2 border border-1 border-gray-500 rounded m-5 w-full">
<% if action_name === "index" %>
  <a href='localidades/<%= localidade.id %>'>
    <li class="flex items-center bg-white p-2 hover:shadow-lg rounded cursor-pointer transition">
        <div class="flex flex-col ml-2 w-full">
          <div class="flex justify-between font-medium text-black">
            <span class="truncate"><%= localidade.nome %></span>
            <% if localidade.parada? %><span class="flex bg-green-500 px-5 rounded-full text-xs text-white items-center">Parada</span><% end %>
          </div>
          <p>Lat.: <%= localidade.latitude %></p>
          <p>Lgt.: <%= localidade.longitude %></p>
        </div>
    </li>
  </a>
<% else %>
    <li class="flex items-center flex-col bg-white p-2 hover:shadow-lg rounded cursor-pointer transition">
        <div class="flex flex-col ml-2 w-full my-5">
          <div class="flex justify-between font-medium text-black truncate">
            <span class="truncate"><%= localidade.nome %></span>
            <% if localidade.parada? %><span class="flex bg-green-500 px-5 rounded-full text-xs text-white items-center">Parada</span><% end %>
          </div>
          <p data-target="maps.latitude">Lat.: <%= localidade.latitude %></p>
          <p data-target="maps.longitude">Lgt.: <%= localidade.longitude %></p>
        </div>
        <%= content_tag :div, nil, data: { target: "maps.map" }, class: 'map' %>
    </li>
<% end %>
</div>