<div class="flex flex-col w-full bg-white text-gray-600 shadow">
   
  <div class="flex justify-between h-16 content-center items-center">
    <p class="py-2 mx-4 text-4xl">Bemvindo</p>
  </div>

</div>

<div class="w-full my-4 mx-auto px-4 md:px-12">
  <ul>
    <div>
      <%= form_with(url: localizar_url, method: :get, data: {
                                                  controller: :maps,
                                                  action: "google-maps-callback@window->maps#initializeMap"
                                                }, class: "contents") do |form| %>      

        <div class="my-5 w-full">
          <%= form.text_field :nome, placeholder: "Para onde vamos?", data: { target: "maps.field", action: "keydown->maps#preventSubmit" }, class: "block shadow rounded-md border border-solid border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
        </div>  

        <div class="hidden">
          <%= form.text_field :latitude, value: -22.960567, data: { target: "maps.latitude" } %>
        </div>

        <div class="hidden">
          <%= form.text_field :longitude, value: -44.0419395, data: { target: "maps.longitude" } %>
        </div>        
        
        <%= content_tag :div, nil, data: { target: "maps.map" }, class: 'map-full' %>

      <% end %>
    </div>
  </ul>
</div>