<!-- app/views/users/new.html.erb -->
<%= form_with(model: usuario, class: "contents") do |form| %>
  
  <div class="my-5">
    <%= form.label :nome, class: "text-gray-800 text-sm" %>
    <%= form.text_field :nome, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :bio, class: "text-gray-800 text-sm" %>
    <%= form.cktext_area :bio, as: :ckeditor, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', input_html: { ckeditor: { toolbar: 'Full' } } %>
  </div>

  <div class="my-5">
    <%= form.label "Nome de Usuário", class: "text-gray-800 text-sm" %>
    <%= form.text_field :username, required: true, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my-5">
    <%= form.label "Senha",  class: "text-gray-800 text-sm" %>
    <%= form.password_field :password, required: true, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my=5">
    <%= form.label "Repita a sua senha", class: "text-white text-sm" %>
    <%= form.password_field :password_confirmation, required: true, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my=5">
    <%= form.label :imagem, class: "text-gray-800 text-sm" %>
    <%= form.file_field :imagem, multiple: false, class: "my-5" %> 
  </div>   
    
  <div class="my=5">
    <%= form.label :imagem, class: "text-gray-800 text-sm" %>
    <% if usuario.imagem.attached? %>
        <%= image_tag(usuario.imagem, class: 'w-64 h-auto block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2') %>
    <% end %>        
  </div>  

  <div class="inline my-5">
    <%= form.submit "Criar Usuário", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer mt-2" %>
  </div>

<% end %>
